<div class="tcg-game wrapper pure-g">
  <div class="tcg-game-board pure-u-24-24">
    <div class="tcg-game-board__player tcg-game-board__player--opponent">

      <img class="tcg-game-board__player-portrait"
           src="{{player1.image}}"/>
      <span *ngIf="player1.currentTurn">[X]</span>
      <!--<h2 class="tcg-game-board__player-name">{{player1.name}}</h2>-->
      <button (click)="endCurrentPlayerTurn()">End Turn</button>

      <div class="tcg-game-board__player-monster-area">
      </div>
    </div>
    <div class="tcg-game-board__player">
      <div class="tcg-game-board__player-monster-area">

      </div>
      <!--<h2 class="tcg-game-board__player-name">{{player2.name}}</h2>-->
      <img class="tcg-game-board__player-portrait"
           src="{{player2.image}}"/>
      <span *ngIf="player2.currentTurn">[X]</span>
      <button (click)="endCurrentPlayerTurn()">End Turn</button>
    </div>
  </div>
</div>
